<ion-view title="start" class="">
    
    <ion-content  
		class="gjv-bg"
    	padding="false"
        scroll="false">


        <div class="halves top">
            <div id="top-wrapper">
              <div class="car-bg"></div>
              <div class="logo-wrapper">
                <div class="logo"></div>
                <div class="phrase">Look up Vehicle Identification Number</div>
              </div>
            </div>
        </div>
        <div class="halves bottom">
            
                
  

            <div id="bottom-wrapper">

                <button menu-close 
                    class="button button-block button-positive color-facebook social-button ink" 
                    ng-click="authenticate('facebook')">
                    <!--  <i class="ion-social-facebook"></i>  -->
                    <span class="connect">{{ 'BUTTON_CONNECT' | translate }}</span>
                    <span class="provider-name">Facebook</span>
                </button>

                <button menu-close 
                    class="button button-block button-assertive color-google social-button ink icon-left" 
                    ng-click="authenticate('google')">
                    <!-- <i class="ion-social-google"></i> -->
                    <span class="connect">{{ 'BUTTON_CONNECT' | translate }}</span>
                    <span class="provider-name">Google</span>
                </button>  

                <button menu-close id="open-signup-modal"
                    class="button button-block button-light social-button ink icon-left" 
                    ng-click="openModal()"
                    ng-click="authenticate('google')">
                    <span class="connect">Sign up with</span>
                    <span class="provider-name">Email</span>
                </button>                  

                <table class="signup-line">
                    <tr>
                        <td>
                            <span id="open-signin-modal" ng-click="openModal2()">Have an account? 
                                <span class="bold">Log In</span>
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
     
    </ion-content>

</ion-view>




<script id="my-modal.html" type="text/ng-template">
    
    <ion-modal-view class="signup-modal" >
        <div id="close-signup-modal" class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
        <ion-content scroll="false">
            <div id="signup-modal" class="modal-content-wrapper">

                <div class="inner-modal-content-wrapper">
                <div class="title-name">
                    Sign Up
                </div>
                <form 
                    class=""
                    name="joinForm"
                    ng-submit="submit(credentials)">
                
                    <div class="new-form-style">

                        <label class="item item-input user-svg">
                            <input 
                                id="sign-up-username"
                                type="text" 
                                placeholder="Username..." 
                                ng-model="credentials.username" 
                                name="username"
                                ng-minlength="3"
                                ng-maxlength="20"
                                ng-class="{'has-error': !joinForm.username.$valid && !joinForm.username.$pristine }"
                                required>
                        </label>


                        <label class="item item-input email-svg">

                            <input 
                                id="sign-up-email"
                                type="text" 
                                placeholder="Email..." 
                                name="email" 
                                ng-pattern="/^([a-zA-Z0-9!#$%&'*+-/=?^_`{|}~_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"
                                ng-class="{'has-error': !joinForm.email.$valid && !joinForm.email.$pristine }"
                                ng-model="credentials.email"
                                required>

                        </label>

                        <label class="item item-input password-svg">

                            <input 
                                id="sign-up-password"
                                type="password" 
                                placeholder="Password..." 
                                ng-model="credentials.password"
                                name="password"
                                ng-class="{'has-error': !joinForm.password.$valid && !joinForm.password.$pristine }"
                                ng-minlength="6"
                                ng-maxlength="126"
                                required>

                        </label>
                    
                    </div>
                    
                    <button 
                        type="submit" 
                        id="sign-up-submit" 
                        class="button submit-button ink"
                        ng-disabled="joinForm.$invalid">Sign Up</button>
                 
                
                    <div class="clear"></div>

                </form> 
                
            </div>     
            </div>     
        </ion-content>
        <span id="switch-modal-to-signin" class="bottomLink" ng-click="switchTo(2)">Already have an account? Sign In!</span>  
      </ion-modal-view>
    </script>


<script id="my-modal2.html" type="text/ng-template">

    <ion-modal-view class="signup-modal" >
        <div id="close-signin-modal" class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
        <ion-content scroll="false">
            <div id="signin-modal" class="modal-content-wrapper">

                <div class="inner-modal-content-wrapper">
                <div class="title-name">
                    Sign In
                </div>
                <form 
                    class=""
                    name="loginForm"
                    ng-submit="authenticate( 'email', credentials )">
                
                <div class="new-form-style">

                    <label class="item item-input user-svg">
                         <input id="sign-in-email"
                            type="text" 
                            placeholder="{{ 'INPUT_PLACEHOLDER_EMAIL' | translate }}" 
                            ng-model="credentials.email" 
                            name="email"
                            ng-minlength="3"
                            ng-maxlength="20"
                            ng-class="{'has-error': !loginForm.email.$valid && !loginForm.email.$pristine }"
                            required>
                    </label>


                    <label class="item item-input email-svg">

                        <input id="sign-in-password"
                            type="password" 
                            placeholder="{{ 'INPUT_PLACEHOLDER_PASSWORD' | translate }}" 
                            ng-model="credentials.password"
                            name="password"
                            ng-class="{'has-error': !loginForm.password.$valid && !loginForm.password.$pristine }"
                            ng-minlength="6"
                            ng-maxlength="126"
                            required>

                    </label>

                   
                
                </div>
                <button 
                    type="submit" 
                    id="submit" 
                    class="button submit-button ink"
                    ng-disabled="loginForm.$invalid">Sign Up</button>
             
            
               <div class="clear"></div>

            </form> 

            

            </div>
            </div>     
        </ion-content>
        <span id="switch-modal-to-signup" class="bottomLink"  ng-click="switchTo(1)">Don't have an account yet? Sign Up!</span>
      </ion-modal-view>

    </script>