$blue: #40c0ff;

$fb: #3f51b5;
$fb-hover: #4255bc;
$google: #ea4335;
$google-hover: #f75347;
$email: #ffffff;
$email-hover: #f1f1f1;

$light: #FFFFFF;

$car: url('../img/fura.svg');
$car-blue: url('../img/fura-blue.svg');
$logo: url('../img/logo.svg');


@font-face {
  font-family: 'HL';
  src: url('../fonts/HelveticaNeueLight/HelveticaNeueLight.eot');
  src: url('../fonts/HelveticaNeueLight/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLight/HelveticaNeueLight.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLight/HelveticaNeueLight.woff') format('woff'),
    url('../fonts/HelveticaNeueLight/HelveticaNeueLight.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLight/HelveticaNeueLight.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HB';
  src: url('../fonts/HelveticaNeueBold/HelveticaNeueBold.eot');
  src: url('../fonts/HelveticaNeueBold/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueBold/HelveticaNeueBold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueBold/HelveticaNeueBold.woff') format('woff'),
    url('../fonts/HelveticaNeueBold/HelveticaNeueBold.ttf') format('truetype'),
    url('../fonts/HelveticaNeueBold/HelveticaNeueBold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
.list-content{
  background: $car-blue;
  background-position: 0 center;
  background-repeat: no-repeat;
}
.blue-bg{
  background: $blue;
}
.blue-color{
  color: $blue;
}

.logo-in-header{
  background-image: $logo;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 40px center;
}

.button-fb{
  background: $fb !important;
  &:hover {
    background: $fb-hover !important;
  }
}

.button-google{
  background: $google !important;
  &:hover {
    background: $google-hover !important;
  }
}

.button-email{
  background: $email !important;
  &:hover {
    background: $email-hover !important;
  }
}


.menu-open .avatar{
  left: auto !important;
  right: 16px !important;
  border-radius: 15% !important;
}
.hide-first{
  opacity: 0;
}

.login-form {
  .roundnes-top {
    border-radius: 10px 10px 0 0;
  }
  .roundnes-bottom {
    border-radius: 0 0 10px 10px;
  }
  label {
    &.email i {
      padding-right: 10px;
    }
    &.password i {
      padding: 0 14px 0 4px;
    }
    i {
      font-size: 24px;
    }
  }
}
.logo-large{
  .main-logo{
    background: url('../img/vin_152.png');  
    width: 152px;
    height: 152px;
    margin: 10px auto;
  }
  
}
.signup-modal{
  background: lighten(black, 20%);
  opacity: 1;
  .button-clear {
    position: absolute; 
    top: 0px;
    right: 0px;
    z-index: 20;
    span:before{
      margin: 10px;
      font-size: 25px !important;
      color: #fff;
    }
  }
}
.modal{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  .modal-content-wrapper{
    display: table;
    color: #fff;
    position: absolute;
    padding: 30px;
    height: 100%;
    width: 100%;
    .inner-modal-content-wrapper{
      display: table-cell;
      vertical-align: middle;
      .title-name{
        font-size: 30px; 
        padding-bottom: 40px;
      }
      form{
        .item-input{
          color: #fff;
          background: transparent;
          border:0;
          border-bottom: 1px solid #fff;
          input{
            color: #fff;
          }
        }
        .submit-button{
          margin-top: 60px;
          border: 1px solid;
          border-radius: 300px;
          color: #fff;
          float:right;
          background: transparent;
        }
        .clear{
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;
        }  
      }
    }
  }
  .bottomLink{
    display: block;
    position: absolute;
    bottom: 20px;
    font-size: 16px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    z-index: 999;
  }
}

.reset-password-link, .fixed-or{
  display: block;
  position: relative;
  text-align: center;
}



div.halves{
  position: absolute;
  left: 0px;
  right: 0px;
  height: 50%;
  background: $blue;
  &.top{
    top: 0px;
    z-index: 2;
    .car-bg{
      height: 100%;
      width: 100%;
      position: absolute;
      top:0;
      text-align: center;
      background: $car no-repeat center center;
      background-size: contain; 
    }
    .logo-wrapper{
      width: 100%;
      height: 100%;
      position: absolute;
      .logo{
        height: 50%;
        width: 50%;
        position: relative;
        top:0;
        margin: 0 auto;
        text-align: center;
        background: $logo no-repeat center bottom;
        background-size: contain;
      }
      .phrase{
        position: relative;
        width: 100%;
        text-align: center;
        font-family: HB;
        color: $light;
        font-size: 16px;
        // text-shadow: 0px 0px 1px rgba(15, 15, 15, 0.5)
      }
    }
  }
  &.bottom{
    bottom: 0px;
    z-index: 1;
    #bottom-wrapper{
      position: absolute;
      left: 20px;
      right: 20px;
      top: 0px;
      bottom: 0px;
      .button{
        height: 20%;
        margin: 3% 0;
        font-size: 14px;
        text-transform: none;
        .connect{
          font-family: HB;
        }
        .provider-name{
          font-family: HL; 
        }
      }
      .signup-line{
        height: 20%;
        margin: 3% 0;
        font-size: 14px;
        width: 100%;
        text-align: center;
        td{
          height: 100%;
          vertical-align: middle;
          font-family: HL;
          span.bold{
            font-family: HB;
          }
        }
      }
    }

  }
}

.share-table{
  width: 100%;
  .shareTitle{
    text-align: center;
  }
  tr{
    td{
      text-align: center;
      .circle{
        height: 30px;
        width: 30px;
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        &.facebook{
          background: #2D4A96;
        }
        &.twitter{
          background: #00aced;
        }
        &.whatsapp{
          background: #51C539; 
        }
        &.email{
          background: #51C539;  
        }
        &.sms{
         background: #51C539; 
        }
      }
    }
  }
}



button.color-email {
  &:before {
    font-size: 30px;
  }
}
.listEmpty {
  color: red !important;
  position: absolute;
}
.loadingImage {
  opacity: 0;
}
.imageAnimation {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.loadingImage.showImage {
  opacity: 1;
}
.spinerBg {
  position: absolute;
  top: 10px;
  opacity: 1;
}
.spinerBg.spinerBgHide {
  opacity: 0;
}
.imageContainer {
  position: relative;
}
.repeated-item{
  font-family: HB;
  font-size: 18px;
  padding: 18px !important; 
}
.move-icon-to-right{
  float: right;
  margin-right: 10px; 
}