<ion-view title="start" class="" >
    
    <ion-content  
		class=""
    	padding="false">
    
		<div class="logo-large"></div>
        
        <div class="with-pad npt fixed-form cf">
            
            <p class="info-title tac mb15">Enter your email address below to reset your password</p>

            <form 
                class=""
                name="joinForm"
                ng-submit="submit(credentials)">

                <div class="new-form-style">
                    <label class="item item-input email-svg">

                        <input 
                            type="text" 
                            placeholder="Email..." 
                            name="email" 
                            ng-pattern="/^([a-zA-Z0-9!#$%&'*+-/=?^_`{|}~_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"
                            ng-class="{'has-error': !joinForm.email.$valid && !joinForm.email.$pristine }"
                            ng-model="credentials.email"
                            required >

                    </label>
                </div>

                <div class="row mt15 mb10 np">
                    
                    <div class="col np mr10">
                        <button 
                        type="button" 
                        class="button button-block pure-button button-dark button-italic"
                        ng-click="cancel()">Cancel</button>
                    </div>
                    <div class="col np ml10">
                        <button 
                        type="submit" 
                        id="submit" 
                        class="button button-block pure-button button-1"
                        ng-disabled="joinForm.$invalid">Reset</button>
                    </div>
            
                </div>
                
            </form>
        
        </div>
        
        <div class="fixed-or mb10 cf">
            <div class="or-box alt">
                <span class="line left"></span>
                <span class="line right"></span>
                <span class="txt"><span class="icn info"></span></span>
            </div>
        </div>
        
        <div class="with-pad fixed-form cf">
            <p class="text-center forgot-link-wrapper">
                The email may take a few minutes to be delivered. Check your junk folder if it has not been received.
            </p>
        </div>


    </ion-content>

</ion-view>