<ion-view title="start" class="" >
    
    <ion-content  
		class=""
    	padding="false">
    
		<div class="logo-large"></div>
        
        <div class="with-pad npt cf fixed-form">
            
                
            <form 
                class=""
                name="joinForm"
                ng-submit="submit(credentials)">
                
                <div class="new-form-style">

                    <label class="item item-input user-svg">
                        <input 
                            type="text"
                            placeholder="Username..."
                            ng-model="credentials.username"
                            name="username"
                            ng-minlength="3"
                            ng-maxlength="20"
                            ng-class="{'has-error': !joinForm.username.$valid && !joinForm.username.$pristine }"
                            required>
                    </label>


                    <label class="item item-input email-svg">

                        <input 
                            type="text" 
                            placeholder="Email..." 
                            name="email" 
                            ng-pattern="/^([a-zA-Z0-9!#$%&'*+-/=?^_`{|}~_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"
                            ng-class="{'has-error': !joinForm.email.$valid && !joinForm.email.$pristine }"
                            ng-model="credentials.email"
                            required >

                    </label>

                    <label class="item item-input password-svg">

                        <input 
                            type="password"
                            placeholder="Password..."
                            ng-model="credentials.password"
                            name="password"
                            ng-class="{'has-error': !joinForm.password.$valid && !joinForm.password.$pristine }"
                            ng-minlength="6"
                            ng-maxlength="126"
                            required>

                    </label>
                
                </div>

                <div class="row mt15 mb10 np">
                    
                    <div class="col np mr10">
                        <button 
                        type="button" 
                        class="button button-block pure-button button-dark button-italic"
                        ng-click="cancel()">Cancel</button>
                    </div>
                    <div class="col np ml10">
                        <button 
                        type="submit" 
                        id="submit" 
                        class="button button-block pure-button button-1"
                        ng-disabled="joinForm.$invalid">SIGN UP</button>
                    </div>
            
                </div>

            </form>

        </div>
        
        <div class="fixed-or mb10 cf">
            <div class="or-box alt">
                <span class="line left"></span>
                <span class="line right"></span>
                <span class="txt">OR</span>
            </div>
        </div>
        
        <div class="with-pad fixed-form cf">

            <button class="button button-block pure-button button-facebook button-svg-20 abs-svg-left np mb15" ng-click="authenticate('facebook')">
                <span class="custom-icon facebook"></span>
                Connect with Facebook</button>

            <button class="button button-block pure-button button-grey button-svg-20 abs-svg-left np mb0" ng-click="authenticate('google')">
                <span class="custom-icon google"></span>
                Connect with Google</button>
            
            <p class="text-center forgot-link-wrapper mt20">
                <a href="http://www.pokertube.com/terms" target="_blank" rel="nofollow">By continuing you accept the PokerTube terms of use</a>
            </p>
        </div>
			

    </ion-content>

</ion-view>