<ion-view title="start" class="">
    
    <ion-content  
		class="gjv-bg"
    	padding="true">
        
		<div class="logo-large"></div>

        
                        
            <form 
                class=""
                name="loginForm"
                ng-submit="authenticate( 'email', credentials )"  
                >
                
                <div class="login-form">

                    <label class="item email item-input roundnes-top">

                        <i class="icon ion-android-mail placeholder-icon"></i>
                        <input 
                            type="text" 
                            placeholder="{{ 'INPUT_PLACEHOLDER_EMAIL' | translate }}" 
                            ng-model="credentials.email" 
                            name="email"
                            ng-minlength="3"
                            ng-maxlength="20"
                            ng-class="{'has-error': !loginForm.email.$valid && !loginForm.email.$pristine }"
                            required>
                    </label>

                    <label class="item item-input password roundnes-bottom">
                    <i class="icon ion-android-lock placeholder-icon"></i>
                        
                        <input 
                            type="password" 
                            placeholder="{{ 'INPUT_PLACEHOLDER_PASSWORD' | translate }}" 
                            ng-model="credentials.password"
                            name="password"
                            ng-class="{'has-error': !loginForm.password.$valid && !loginForm.password.$pristine }"
                            ng-minlength="6"
                            ng-maxlength="126"
                            required>

                    </label>

                </div>

                <div class="cl"></div>

                <div class="signup-form-button">
                    
                    <button
                        menu-close 
                        nav-clear
                        type="submit" 
                        id="submit" 
                        class="button button-royal button-block ink"
                        ng-disabled="loginForm.$invalid">{{ 'BUTTON_SIGN_UP_EMAIL' | translate }}</button>
                    
                    </div>
                
                
                <a class="reset-password-link" ng-click="forgotPassword()">
                    {{ 'TEXT_FORGOT' | translate }} <span class="icn ion-arrow-right-b"></span>
                </a>
                

            </form>
            <div class="fixed-or">{{ 'TEXT_OR' | translate }}</div>    
        
        
        

   
        
        <div class="with-pad fixed-form cf">
            <button 
                menu-close 
                class="button button-block button-positive color-facebook ion-social-facebook ink icon-left" 
                ng-click="authenticate('facebook')">
                {{ 'BUTTON_CONNECT_FB' | translate }}</button>

            <button 
                menu-close 
                class="button button-block button-assertive color-google ion-social-google ink icon-left" 
                ng-click="authenticate('google')">
                {{ 'BUTTON_CONNECT_GOOGLE' | translate }}</button>

            <button 
                menu-close 
                class="button button-block color-email button-energized color-google ion-ios-email ink icon-left" 
                ng-click="join()">
                {{ 'BUTTON_REGISTER_EMAIL' | translate }}</button>


        </div>




    </ion-content>

</ion-view>
