<ion-view title="Share app" class="">
  <ion-content padding="false" scroll="false">
		
		<table class="share-table">
			<tr>
				<td>
					<button class="button button-block" ng-click="share('fb')"><span class="circle facebook"><i class="ion-social-facebook"></i></span>Share via Facebook</button>
				</td>
			</tr>
			<tr>
				<td>
					<button class="button button-block" ng-click="share('twitter')"><span class="circle twitter"><i class="ion-social-twitter"></i></span>Share via Twitter</button>
				</td>
			</tr>
			<tr>
				<td>
					<button class="button button-block" ng-click="share('whatsapp')"><span class="circle whatsapp"><i class="ion-social-whatsapp"></i></span>Share via Whatsapp</button>
				</td>
			</tr>
			<tr>
				<td>
					<button class="button button-block" ng-click="share('email')"><span class="circle email"><i class="ion-android-mail"></i></span>Share via Email</button>
				</td>
			</tr>
			<tr>
				<td>
					<button class="button button-block" ng-click="share('sms')"><span class="circle sms"><i class="ion-android-textsms"></i></span>Share via SMS</button>
				</td>
			</tr>
		</table>	

	</ion-view>
</ion-content>