<ion-view title="" class="">
    
    <ion-content  
		class="S"
    	padding="false">
	
		<div class="listEmpty repeated-item" ng-if="listEmpty">
			<br><br><br>
			LOADING <ion-spinner icon="ios"></ion-spinner>
			<br><br><br>
		</div>

		<ion-list>
		  	
		  	<ion-item
		  		menu-close 
		  		ng-repeat="item in items "
		        class="item repeated-item"
		        ng-click="selectItem(this,item)"
		        list-item="">
					{{item}}
		    
		  	</ion-item>

		</ion-list>

    </ion-content>

</ion-view>
