<ion-side-menus enable-menu-with-back-views="true">
  	
  	<ion-side-menu-content>
    
    	<ion-nav-bar class="bar-royal-900" align-title="center">
       	
       	<ion-nav-title >
          VIN Finder
      	</ion-nav-title>

        <ion-nav-back-button class="button-clear">
          <i class="icon ion-ios-arrow-back"></i> Back
        </ion-nav-back-button>

     		<ion-nav-buttons side="right">
       		<button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
     		</ion-nav-buttons>
		
    	</ion-nav-bar>
    	
    	<ion-nav-view name="menuContent"></ion-nav-view>
  	
  	</ion-side-menu-content>

  <ion-side-menu side="right">
<!--     <ion-header-bar class="bar-stable">
      <h1 class="title">SUPER</h1>
    </ion-header-bar> -->
    <ion-content>
      <ion-list>
        
          <!-- <ion-item nav-clear menu-close ng-click="redirect('menu.brands')">
            Vin finder
          </ion-item> -->
          
          <!-- <ion-item nav-clear menu-close ng-click="redirect('menu.share')">
             
          </ion-item> -->

          <ion-item nav-clear>
            <div class="shareTitle">Share</div>
            <table class="share-table">
              <tr>
                <td>
                  <span ng-click="share('fb')" class="circle facebook"><i class="ion-social-facebook"></i></span>
                </td>
                <td>
                  <span class="circle twitter" ng-click="share('twitter')"><i class="ion-social-twitter"></i></span>
                </td>
                <td>
                  <span class="circle whatsapp" ng-click="share('whatsapp')"><i class="ion-social-whatsapp"></i></span>
                </td>
                <td>
                  <span class="circle email" ng-click="share('email')"><i class="ion-android-mail"></i></span>
                </td>
                <td>
                  <span class="circle sms" ng-click="share('sms')"><i class="ion-android-textsms"></i></span>
                </td>
              </tr>

            </table>  
          </ion-item>

          <ion-item nav-clear menu-close ng-click="rateapp()">
              Rate the app  
          </ion-item>

          <ion-item nav-clear menu-close ng-click="logout()">
              Log Out
          </ion-item>


          <!-- <ion-item nav-clear menu-close href="#/app/playlists"></ion-item> -->


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
